.container {
  width: 1095px;
  display: flex;
  gap: 100px;
  align-items: center;
  margin-top: auto;
  margin-bottom: 91px;
}

.navigationLinks {
  display: flex;
  flex-grow: 1;
}

.buttons {
  display: flex;
  gap: 20px;
  width: 366px;
  justify-content: flex-end;
}
