.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.container {
  width: 100%;
  display: flex;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  width: 12px;
  height: 12px;
  margin: 10px 14px 14px 15px;
  border-radius: 50%;
  background-color: var(--navigationIconActive);
}
