.container {
  width: 100%;
  height: auto;
  margin-top: 194px;
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 1s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.wrapper {
  display: flex;
}

.qrCode {
  display: flex;
  align-items: end;
  padding-bottom: 18px;
}
