.wrapper {
  width: 340px;
  margin: 194px 0px 0px 85px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 38px;
  line-height: 46.66px;
  font-weight: 600;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
